body{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:center;
}
#FBresult{
    margin-top:3vh;
    max-height:100%;
    width:50vw;
    border:1px solid black;
    font-size:3vw;
    line-height:4.5vh;
}