body{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#button{
    height:10vh;
    width:50%;
    border:2px solid #bd0000;
    background-color: #ff0101;
    color:#FFFFFF;
}
#button:hover{
    background-color: #bd0000;
    cursor:pointer;
}
#FBresult{
    margin-top:3vh;
    max-height:100%;
    width:50vw;
    border:1px solid black;
    font-size:20px;
    line-height:25px
}